@font-face {
  font-family: Erbaum;
  src: url("../Fonts/Erbaum-Light/font.woff");
}
@font-face {
  font-family: Univia Pro;
  src: url("../Fonts/UniviaPro-Light/font.woff");
}
@font-face {
  font-family: Univia Pro-Bold;
  src: url("../Fonts/UniviaPro-Bold/font.woff");
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.wrapper .Heading-box {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 0;
  align-items: center;
  background: #9fafc7;
  padding: 15px 15px;
  display: none;
}
.wrapper .Heading-box .company-logo img {
  max-width: 100%;
  width: 100%;
}
.wrapper .Heading-box .company-description {
  padding: 10px 40px;
  padding-right: 0;
}
.wrapper .Heading-box .company-description .box-text h5 {
  font-size: 18px;
  color: #fff;
  font-family: Erbaum;
  font-weight: 100;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.wrapper .Heading-box .company-description .box-text h1 {
  font-size: 18px;
  color: #fff;
  font-family: Erbaum;
  font-weight: 1000;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.wrapper .Heading-box .company-description .box-paragraph p {
  font-size: 12px;
  color: #fff;
  font-family: Univia Pro;
  font-weight: 300;
}
.wrapper .Banner {
  position: relative;
}
.wrapper .Banner .Banner-title {
  position: absolute;
  bottom: 13%;
  right: 8%;
  cursor: pointer;
}
.wrapper .Banner .Banner-title h1 {
  color: #fff;
  font-family: Erbaum;
  font-weight: 300;
  font-size: 61px;
  text-transform: uppercase;
  margin: 0;
}
.wrapper .Banner .Banner-navigation {
  position: absolute;
  right: 70px;
  bottom: 14%;
  cursor: pointer;
}
.wrapper .Banner .Banner-navigation img {
  max-width: 100%;
  width: 50px;
}
.wrapper .Banner video {
  max-width: 100%;
  width: 100%;
}
.wrapper .Banner .box {
  position: absolute;
  background: #9fafc7;
  min-height: 932px;
  max-width: 600px;
  width: 100%;
  top: 0;
  left: 50px;
  padding: 20px 50px;
}
.wrapper .Banner .box .box-logo img {
  max-width: 100%;
  width: 50%;
  position: absolute;
  top: 50px;
}
.wrapper .Banner .box .box-text {
  position: absolute;
  bottom: 235px;
}
.wrapper .Banner .box .box-text h5 {
  color: #fff;
  font-family: Erbaum;
  font-size: 47px;
  font-weight: 100;
  text-transform: uppercase;
}
.wrapper .Banner .box .box-text h1 {
  color: #fff;
  font-family: Erbaum;
  font-size: 47px;
  font-weight: 1000;
  text-transform: uppercase;
}
.wrapper .Banner .box .box-paragraph {
  position: absolute;
  bottom: 75px;
  padding-right: 50px;
}
.wrapper .Banner .box .box-paragraph p {
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  font-family: Univia Pro;
}
.wrapper .main-content {
  max-width: 1460px;
  margin: 0 auto;
}
.wrapper .main-content .content-wrapper {
  margin: 0 10px;
}
.wrapper .main-content .content-wrapper .content {
  margin-top: 100px;
  width: 750px;
}
.wrapper .main-content .content-wrapper .content .content-heading {
  margin: 30px 0;
}
.wrapper .main-content .content-wrapper .content .content-heading h2 {
  font-size: 47px;
  font-family: Erbaum;
  color: #5e7157;
  text-transform: uppercase;
  font-weight: 100;
}
.wrapper .main-content .content-wrapper .content-description #p1 {
  font-size: 17px;
  color: #5e7157;
  font-family: Univia Pro;
  font-weight: 100;
  letter-spacing: 0.5px;
  line-height: 28px;
}
.wrapper .main-content .content-wrapper .content-description #p2 {
  font-size: 17px;
  color: #5e7157;
  font-family: Univia Pro;
  font-weight: 100;
  letter-spacing: 0.5px;
  line-height: 28px;
}
.wrapper .main-content .Overlay {
  width: 100%;
  position: relative;
}
.wrapper .main-content .Overlay .Job1-overlay {
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 10000;
  display: none;
  top: 0;
  left: 0;
  background-color: #000;
  min-height: 100vh;
  align-items: center;
}
.wrapper .main-content .Overlay .Job1-overlay iframe {
  width: 100%;
  min-height: 96vh;
}
.wrapper .main-content .Overlay .Job1-overlay .close-button {
  text-align: right;
}
.wrapper .main-content .Overlay .Job1-overlay .close-button button {
  position: absolute;
  right: 5%;
  top: 5px;
  border: 0;
  background-color: #f0f0f0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
}
.wrapper .main-content .our-jobs {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 0;
  margin-top: 60px;
}

.wrapper .main-content .our-jobs .job1 {
  margin: 0 10px;
}
.wrapper .main-content .our-jobs .job1 .job-image {
  position: relative;
}
.wrapper .main-content .our-jobs .job1 .job-image .image-text {
  position: absolute;
  bottom: 20px;
  left: 50px;
  display: grid;
  grid-template-columns: 80% 20%;
  width: 80%;
  z-index: 2;
}
.wrapper .main-content .our-jobs .job1 .image-text .job-title h2 {
  font-size: 18px;
  color: #fff;
  font-family: Univia Pro-Bold;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  bottom: 5%;
  left: 0;
  z-index: 999;
  cursor: pointer;
}
.wrapper .main-content .our-jobs .job1 .image-text .job-Navigation {
  position: absolute;
  right: 5px;
  bottom: -2px;
}
.wrapper .main-content .our-jobs .job1:hover .job-image img {
  opacity: 0.9;
}
.wrapper .main-content .our-jobs .job1 .job-image img {
  max-width: 100%;
  width: 100%;
  cursor: pointer;
}
.wrapper .main-content .our-jobs .job1 .job-image .Overlay {
  width: 100%;
}
.wrapper .main-content .our-jobs .job1 .job-Navigation img {
  max-width: 100%;
  width: 30px;
}
.wrapper .main-content .our-jobs .job1 .job-description {
  margin: 40px 0;
}
.wrapper .main-content .our-jobs .job1 .job-description h5 {
  color: #5e7157;
  font-size: 19px;
  font-family: Univia Pro-Bold;
}
.wrapper .main-content .our-jobs .job1 .job-description p {
  color: #5e7157;
  line-height: 28px;
  font-size: 19px;
  font-family: Univia Pro;
  font-weight: 100;
}

.wrapper .main-content .our-jobs .job2 {
  margin: 0 10px;
}
.wrapper .main-content .our-jobs .job2:hover .job-image img {
  opacity: 0.9;
}
.wrapper .main-content .our-jobs .job2 .job-image img {
  max-width: 100%;
  width: 100%;
  cursor: pointer;
}
.wrapper .main-content .our-jobs .job2 .job-image {
  position: relative;
}
.wrapper .main-content .our-jobs .job2 .job-image .image-text {
  position: absolute;
  bottom: 20px;
  left: 50px;
  display: grid;
  grid-template-columns: 80% 20%;
  width: 80%;
  z-index: 2;
}
.wrapper .main-content .our-jobs .job2 .image-text .job-title h2 {
  font-size: 18px;
  color: #fff;
  font-family: Univia Pro-Bold;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  bottom: 5%;
  left: 0;
  z-index: 999;
  cursor: pointer;
}
.wrapper .main-content .our-jobs .job2 .image-text .job-Navigation {
  position: absolute;
  right: 5px;
  bottom: -2px;
}
.wrapper .main-content .our-jobs .job2 .job-Navigation img {
  max-width: 100%;
  width: 30px;
}
.wrapper .main-content .our-jobs .job2 .job-description {
  margin: 40px 0;
}
.wrapper .main-content .our-jobs .job2 .job-description h5 {
  color: #5e7157;
  font-size: 19px;
  font-family: Univia Pro-Bold;
}
.wrapper .main-content .our-jobs .job2 .job-description p {
  color: #5e7157;
  line-height: 28px;
  font-size: 19px;
  font-family: Univia Pro;
  font-weight: 100;
}
.wrapper .main-content .our-jobs .job3 {
  margin: 0 10px;
}
.wrapper .main-content .our-jobs .job3:hover .job-image img {
  opacity: 0.9;
}
.wrapper .main-content .our-jobs .job3 .job-image img {
  max-width: 100%;
  width: 100%;
  cursor: pointer;
}
.wrapper .main-content .our-jobs .job3 .job-image {
  position: relative;
}
.wrapper .main-content .our-jobs .job3 .job-image .image-text {
  position: absolute;
  bottom: 20px;
  left: 50px;
  display: grid;
  grid-template-columns: 80% 20%;
  width: 80%;
  z-index: 2;
}
.wrapper .main-content .our-jobs .job3 .image-text .job-title h2 {
  font-size: 18px;
  color: #fff;
  font-family: Univia Pro-Bold;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  bottom: 5%;
  left: 0;
  z-index: 999;
  cursor: pointer;
}
.wrapper .main-content .our-jobs .job3 .image-text .job-Navigation {
  position: absolute;
  right: 5px;
  bottom: -2px;
}
.wrapper .main-content .our-jobs .job3 .job-Navigation img {
  max-width: 100%;
  width: 30px;
}
.wrapper .main-content .our-jobs .job3 .job-description {
  margin: 40px 0;
}
.wrapper .main-content .our-jobs .job3 .job-description h5 {
  color: #5e7157;
  font-size: 19px;
  font-family: Univia Pro-Bold;
}
.wrapper .main-content .our-jobs .job3 .job-description p {
  color: #5e7157;
  line-height: 28px;
  font-size: 19px;
  font-family: Univia Pro;
  font-weight: 100;
}
.wrapper .main-content .our-jobs .job4 {
  margin: 0 10px;
}
.wrapper .main-content .our-jobs .job4:hover .job-image img {
  opacity: 0.9;
}
.wrapper .main-content .our-jobs .job4 .job-image img {
  max-width: 100%;
  width: 100%;
  cursor: pointer;
}
.wrapper .main-content .our-jobs .job4 .job-image {
  position: relative;
}
.wrapper .main-content .our-jobs .job4 .job-image .image-text {
  position: absolute;
  bottom: 20px;
  left: 50px;
  display: grid;
  grid-template-columns: 80% 20%;
  width: 80%;
  z-index: 2;
}
.wrapper .main-content .our-jobs .job4 .image-text .job-title h2 {
  font-size: 18px;
  color: #fff;
  font-family: Univia Pro-Bold;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  bottom: 5%;
  left: 0;
  z-index: 999;
  cursor: pointer;
}
.wrapper .main-content .our-jobs .job4 .image-text .job-Navigation {
  position: absolute;
  right: 5px;
  bottom: -2px;
}

.wrapper .main-content .our-jobs .job4 .job-Navigation img {
  max-width: 100%;
  width: 30px;
}
.wrapper .main-content .our-jobs .job4 .job-description {
  margin: 40px 0;
}
.wrapper .main-content .our-jobs .job4 .job-description h5 {
  color: #5e7157;
  font-size: 19px;
  font-family: Univia Pro-Bold;
}
.wrapper .main-content .our-jobs .job4 .job-description p {
  color: #5e7157;
  line-height: 28px;
  font-size: 19px;
  font-family: Univia Pro;
  font-weight: 100;
}

.wrapper .Bottom {
  margin-top: 20px;
  background: #d3d5c5;
  min-height: 50vh;
  display: none;
}
.wrapper .Bottom .Bottom-text {
  margin: 0 15px;
  padding: 40px 0;
}
.wrapper .Bottom .Bottom-text .text-title h2 {
  color: #fff;
  font-family: Erbaum;
  font-size: 20px;
  text-transform: uppercase;
}
.wrapper .Bottom .Bottom-text .text-title h2 span {
  color: #fff;
  font-family: Erbaum;
  font-weight: 1000;
  font-size: 20px;
  text-transform: uppercase;
}
.wrapper .Bottom .Bottom-text .text-description {
  margin-top: 28px;
}
.wrapper .Bottom .Bottom-text .text-description p {
  color: #5e7157;
  font-family: Univia Pro;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 23px;
  font-weight: 100;
}
.wrapper .Bottom-section {
  position: relative;
  margin-top: 100px;
}
.wrapper .Bottom-section .Bottom-image img {
  max-width: 100%;
  width: 100%;
}
.wrapper .Bottom-section .Bottom-text {
  position: absolute;
  top: 130px;
  right: 220px;
  background: #d3d5c5;
  max-width: 560px;
  min-height: 530px;
  padding: 10px;
  padding: 0 60px;
}
.wrapper .Bottom-section .Bottom-text .text-title {
  margin-top: 80px;
  margin-bottom: 50px;
}
.wrapper .Bottom-section .Bottom-text .text-title h2 {
  font-size: 47px;
  color: #fff;
  font-family: Erbaum;
  text-transform: uppercase;
}
.wrapper .Bottom-section .Bottom-text .text-title h2 span {
  font-size: 47px;
  color: #fff;
  font-family: Erbaum;
  font-weight: 1000;
  text-transform: uppercase;
}
.wrapper .Bottom-section .Bottom-text .text-description p {
  color: #5e7157;
  font-family: Univia Pro;
  font-size: 17px;
  letter-spacing: 0.2px;
  line-height: 27px;
  font-weight: 100;
  padding-bottom: 30px;
}
.wrapper .Bottom-section .image-pattern {
  position: absolute;
  bottom: -90px;
  left: -260px;
  z-index: 999;
}
.wrapper .Bottom-section .image-pattern img {
  max-width: 100%;
  width: 100%;
}
.wrapper .Bottom-content {
  background-color: #d3d5c5;
  min-height: 110vh;
  position: relative;
}
.wrapper .Bottom-content .Bottom-text {
  width: 1000px;
  margin-left: 175px;
  padding: 20px;
}
.wrapper .Bottom-content .Bottom-text .text-title h2 {
  margin-top: 150px;
  margin-bottom: 60px;
  font-weight: 100;
  color: #fff;
  font-family: Erbaum;
  font-size: 63px;
}
.wrapper .Bottom-content .Bottom-text .text-title h2 span {
  font-weight: 1000;
}
.wrapper .Bottom-content .Bottom-text .text-description {
  max-width: 850px;
  margin-bottom: 80px;
}
.wrapper .Bottom-content .Bottom-text .text-description .text {
  color: #5e7157;
  font-family: Univia Pro;
  font-size: 17px;
  font-weight: 200;
  line-height: 24px;
}
.wrapper .Bottom-content .Bottom-logo {
  position: absolute;
  right: 130px;
  bottom: 170px;
}
.wrapper .Bottom-content .Bottom-logo img {
  max-width: 100%;
  width: 100%;
}
.wrapper .footer {
  margin: 50px 0;
  position: relative;
  max-width: 100%;
  width: 100%;
}
.wrapper .footer .footer-image {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
.wrapper .footer .footer-image img {
  max-width: 100%;
  width: 100%;
}
.wrapper .main-content .our-jobs .job-image {
  position: relative;
  display: block;
  overflow: hidden;
}
.wrapper .main-content .our-jobs .job-image:hover img {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@media screen and (max-width: 1679px) {
  .wrapper .Banner .box {
    min-height: 750px;
    max-width: 530px;
  }

  .wrapper .Banner .Banner-navigation img {
    width: 45px;
  }
  .wrapper .Banner .Banner-title {
    right: 10%;
    bottom: 13.5%;
  }
  .wrapper .Banner .Banner-title h1 {
    font-size: 47px;
  }
  .wrapper .Banner .box .box-text h1 {
    font-size: 41px;
  }
  .wrapper .Banner .box .box-text h5 {
    font-size: 41px;
  }
  .wrapper .main-content {
    max-width: 1350px;
  }
  .wrapper .main-content .content-wrapper .content .content-heading h2 {
    font-size: 41px;
  }
  .wrapper .main-content .our-jobs .job1 .job-Navigation img {
    width: 28px;
  }
  .wrapper .main-content .our-jobs .job2 .job-Navigation img {
    width: 28px;
  }
  .wrapper .main-content .our-jobs .job3 .job-Navigation img {
    width: 28px;
  }
  .wrapper .main-content .our-jobs .job4 .job-Navigation img {
    width: 28px;
  }
  .wrapper .Bottom-section .Bottom-text {
    top: 80px;
    right: 150px;
    max-width: 530px;
    padding: 0 40px;
  }
  .wrapper .Bottom-section .Bottom-text .text-title {
    margin-top: 145px;
    margin-bottom: 75px;
  }
  .wrapper .Bottom-section .Bottom-text .text-title h2 {
    font-size: 41px;
  }
  .wrapper .Bottom-section .Bottom-text .text-title h2 span {
    font-size: 41px;
  }
  .wrapper .Bottom-section .image-pattern img {
    width: 90%;
  }
  .wrapper .Bottom-content .Bottom-text {
    width: 800px;
    margin-left: 130px;
  }
  .wrapper .Bottom-content .Bottom-text .text-title h2 {
    margin-top: 100px;
    font-size: 51px;
  }
  .wrapper .Bottom-content {
    min-height: 80vh;
  }
  .wrapper .Bottom-content .Bottom-logo {
    bottom: 100px;
  }
  .wrapper .main-content .Overlay .Job1-overlay .close-button button {
    right: 5%;
  }
}

@media screen and (max-width: 1439px) {
  .wrapper .Banner .box {
    min-height: 650px;
    max-width: 500px;
  }
  .wrapper .Banner .Banner-title {
    bottom: 16%;
    right: 11%;
  }
  .wrapper .Banner .Banner-title h1 {
    font-size: 35px;
  }
  .wrapper .Banner .Banner-navigation {
    bottom: 16%;
  }
  .wrapper .Banner .Banner-navigation img {
    width: 40px;
  }
  .wrapper .Banner .box .box-logo img {
    width: 30%;
  }
  .wrapper .Banner .box .box-text h1 {
    font-size: 34px;
  }
  .wrapper .Banner .box .box-text h5 {
    font-size: 34px;
  }
  .wrapper .main-content {
    max-width: 1190px;
  }
  .wrapper .main-content .content-wrapper .content .content-heading h2 {
    font-size: 35px;
  }
  .wrapper .Bottom-section .Bottom-text {
    top: 75px;
    right: 120px;
    max-width: 430px;
    min-height: 430px;
  }
  .wrapper .Bottom-section .Bottom-text .text-title {
    margin-top: 100px;
    margin-bottom: 60px;
  }
  .wrapper .Bottom-section .Bottom-text .text-title h2 {
    font-size: 34px;
  }
  .wrapper .Bottom-section .Bottom-text .text-title h2 span {
    font-size: 35px;
  }
  .wrapper .Bottom-section .image-pattern {
    left: -230px;
    bottom: -85px;
  }
  .wrapper .Bottom-section .image-pattern img {
    width: 80%;
  }
  .wrapper .Bottom-content .Bottom-text {
    width: 600px;
  }
  .wrapper .Bottom-content .Bottom-text .text-title h2 {
    font-size: 35px;
  }
  .wrapper .Bottom-content {
    min-height: 80vh;
  }
  .wrapper .Bottom-content .Bottom-logo {
    bottom: 100px;
  }
  .wrapper .main-content .Overlay .Job1-overlay {
    min-height: 100%;
    max-height: 100vh;
  }
  .wrapper .main-content .Overlay .Job1-overlay iframe {
    width: 100%;
    min-height: 100%;
    max-height: 94vh;
  }
}
@media screen and (max-width: 1199px) {
  .wrapper .Banner .Banner-title h1 {
    font-size: 30px;
  }
  .wrapper .Banner .Banner-navigation {
    right: 53px;
  }
  .wrapper .Banner .Banner-navigation img {
    width: 35px;
  }
  .wrapper .Banner .box {
    max-width: 400px;
    min-height: 480px;
    padding: 10px 30px;
  }
  .wrapper .Banner .box .box-logo img {
    width: 30%;
    top: 25px;
  }
  .wrapper .Banner .box .box-text {
    bottom: 135px;
  }
  .wrapper .Banner .box .box-text h5 {
    font-size: 30px;
  }
  .wrapper .Banner .box .box-text h1 {
    font-size: 30px;
  }
  .wrapper .Banner .box .box-paragraph {
    bottom: 30px;
    padding-right: 20px;
  }
  .wrapper .Banner .box .box-paragraph p {
    font-size: 14px;
    line-height: 20px;
  }
  .wrapper .main-content {
    max-width: 900px;
  }
  .wrapper .main-content .content-wrapper .content {
    margin-top: 60px;
    width: 100%;
  }
  .wrapper .main-content .content-wrapper .content .content-heading h2 {
    font-size: 30px;
  }
  .wrapper .main-content .content-wrapper .content-description #p1 {
    font-size: 16px;
  }
  .wrapper .main-content .content-wrapper .content-description #p2 {
    font-size: 16px;
  }
  .wrapper .main-content .our-jobs .job1 .job-title {
    top: 200px;
    right: 70px;
  }
  .wrapper .main-content .our-jobs .job1 .job-title h2 {
    margin: 0;
    font-size: 15px;
  }
  .wrapper .main-content .our-jobs .job1 .job-Navigation {
    top: 193px;
    right: 10px;
  }
  .wrapper .main-content .our-jobs .job1 .job-Navigation img {
    width: 28px;
  }
  .wrapper .main-content .our-jobs .job1 .job-description {
    margin: 20px 0;
  }
  .wrapper .main-content .our-jobs .job1 .job-description p {
    font-size: 15px;
    line-height: 23px;
  }
  .wrapper .main-content .our-jobs .job2 .job-title {
    top: 200px;
    right: 70px;
  }
  .wrapper .main-content .our-jobs .job2 .job-title h2 {
    margin: 0;
    font-size: 15px;
  }
  .wrapper .main-content .our-jobs .job2 .job-Navigation {
    top: 193px;
    right: 10px;
  }
  .wrapper .main-content .our-jobs .job2 .job-Navigation img {
    width: 28px;
  }
  .wrapper .main-content .our-jobs .job2 .job-description {
    margin: 20px 0;
  }
  .wrapper .main-content .our-jobs .job2 .job-description p {
    font-size: 15px;
    line-height: 23px;
  }
  .wrapper .main-content .our-jobs .job3 .job-title {
    top: 200px;
    right: 70px;
  }
  .wrapper .main-content .our-jobs .job3 .job-title h2 {
    margin: 0;
    font-size: 15px;
  }
  .wrapper .main-content .our-jobs .job3 .job-Navigation {
    top: 193px;
    right: 10px;
  }
  .wrapper .main-content .our-jobs .job3 .job-Navigation img {
    width: 28px;
  }
  .wrapper .main-content .our-jobs .job3 .job-description {
    margin: 20px 0;
  }
  .wrapper .main-content .our-jobs .job3 .job-description p {
    font-size: 15px;
    line-height: 23px;
  }
  .wrapper .main-content .our-jobs .job4 .job-title {
    top: 200px;
    right: 70px;
  }
  .wrapper .main-content .our-jobs .job4 .job-title h2 {
    margin: 0;
    font-size: 15px;
  }
  .wrapper .main-content .our-jobs .job4 .job-Navigation {
    top: 193px;
    right: 10px;
  }
  .wrapper .main-content .our-jobs .job4 .job-Navigation img {
    width: 28px;
  }
  .wrapper .main-content .our-jobs .job4 .job-description {
    margin: 20px 0;
  }
  .wrapper .main-content .our-jobs .job4 .job-description p {
    font-size: 15px;
    line-height: 23px;
  }
  .wrapper .Bottom-section {
    margin-top: 60px;
  }
  .wrapper .Bottom-section .image-pattern {
    bottom: -40px;
    left: -120px;
  }
  .wrapper .Bottom-section .image-pattern img {
    width: 50%;
  }
  .wrapper .Bottom-section .Bottom-text {
    top: 60px;
    right: 60px;
    max-width: 400px;
    min-height: 300px;
    padding: 0 30px;
  }
  .wrapper .Bottom-section .Bottom-text .text-title {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .wrapper .Bottom-section .Bottom-text .text-title h2 {
    font-size: 30px;
  }
  .wrapper .Bottom-section .Bottom-text .text-title h2 span {
    font-size: 30px;
  }
  .wrapper .Bottom-section .Bottom-text .text-description p {
    font-size: 14px;
    line-height: 23px;
  }
  .wrapper .Bottom-content {
    min-height: 60vh;
  }
  .wrapper .Bottom-content .Bottom-text {
    margin-left: 90px;
  }
  .wrapper .Bottom-content .Bottom-text .text-title h2 {
    margin-top: 80px;
    font-size: 30px;
    letter-spacing: 0.5px;
  }
  .wrapper .Bottom-content .Bottom-text .text-description .text {
    font-size: 15px;
  }
  .wrapper .Bottom-content .Bottom-logo {
    right: 30px;
    bottom: 100px;
  }
  .wrapper .Bottom-content .Bottom-logo img {
    width: 70%;
  }
  .wrapper .main-content .Overlay .Job1-overlay .close-button button {
    right: 10px;
    top: 3%;
    z-index: 9;
  }
  .wrapper .main-content .Overlay .Job1-overlay iframe {
    width: 100%;
    min-height: 100%;
    max-height: 94vh;
    top: 30px;
    position: relative;
  }
  .wrapper .main-content .our-jobs .job1 .job-image .image-text,
  .wrapper .main-content .our-jobs .job2 .job-image .image-text,
  .wrapper .main-content .our-jobs .job3 .job-image .image-text,
  .wrapper .main-content .our-jobs .job4 .job-image .image-text {
    left: 15px;
  }
  .wrapper .main-content .our-jobs .job1 .image-text .job-Navigation,
  .wrapper .main-content .our-jobs .job2 .image-text .job-Navigation,
  .wrapper .main-content .our-jobs .job3 .image-text .job-Navigation,
  .wrapper .main-content .our-jobs .job4 .image-text .job-Navigation {
    position: absolute;
    right: -20px;
    bottom: auto;
    top: -26px;
  }
}

@media screen and (max-width: 999px) {
  .wrapper .Banner .Banner-navigation img {
    width: 30px;
  }
  .wrapper .Banner .Banner-navigation {
    bottom: 14%;
    right: 43px;
  }
  .wrapper .Banner .Banner-title {
    right: 12%;
    bottom: 14%;
  }
  .wrapper .Banner .Banner-title h1 {
    font-size: 25px;
  }
  .wrapper .Banner .box {
    max-width: 300px;
    min-height: 380px;
    padding: 10px 20px;
  }
  .wrapper .Banner .box .box-text {
    bottom: 140px;
  }
  .wrapper .Banner .box .box-text h5 {
    font-size: 25px;
    margin: 0;
  }
  .wrapper .Banner .box .box-text h1 {
    font-size: 25px;
    margin: 0;
  }
  .wrapper .Banner .box .box-paragraph {
    bottom: 20px;
    padding-right: 20px;
  }
  .wrapper .Banner .box .box-paragraph p {
    font-size: 12px;
    line-height: 18px;
  }
  .wrapper .main-content {
    max-width: 720px;
  }
  .wrapper .main-content .content-wrapper .content {
    margin-top: 40px;
  }
  .wrapper .main-content .content-wrapper .content .content-heading h2 {
    margin: 0;
    font-size: 25px;
  }
  .wrapper .main-content .content-wrapper .content-description #p1 {
    font-size: 15px;
    letter-spacing: 0.4px;
  }
  .wrapper .main-content .content-wrapper .content-description #p2 {
    font-size: 15px;
    letter-spacing: 0.4px;
  }
  .wrapper .main-content .our-jobs {
    margin-top: 40px;
  }
  .wrapper .main-content .our-jobs .job1 .job-title {
    top: 170px;
    right: 50px;
  }
  .wrapper .main-content .our-jobs .job1 .image-text .job-title h2,
  .wrapper .main-content .our-jobs .job2 .image-text .job-title h2,
  .wrapper .main-content .our-jobs .job3 .image-text .job-title h2,
  .wrapper .main-content .our-jobs .job4 .image-text .job-title h2 {
    font-size: 12px;
  }
  .wrapper .main-content .our-jobs .job1 .image-text .job-Navigation,
  .wrapper .main-content .our-jobs .job2 .image-text .job-Navigation,
  .wrapper .main-content .our-jobs .job3 .image-text .job-Navigation,
  .wrapper .main-content .our-jobs .job4 .image-text .job-Navigation {
    right: 0;
    bottom: auto;
    top: -22px;
  }
  .wrapper .main-content .our-jobs .job1 .job-Navigation {
    top: 163px;
    right: 10px;
  }
  .wrapper .main-content .our-jobs .job1 .job-Navigation img {
    width: 20px;
  }
  .wrapper .main-content .our-jobs .job1 .job-description {
    margin: 10px 0;
  }
  .wrapper .main-content .our-jobs .job1 .job-description h5 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .wrapper .main-content .our-jobs .job1 .job-description p {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.2px;
  }
  .wrapper .main-content .our-jobs .job2 .job-title {
    top: 170px;
    right: 50px;
  }
  .wrapper .main-content .our-jobs .job2 .job-title h2 {
    font-size: 12px;
  }
  .wrapper .main-content .our-jobs .job2 .job-Navigation {
    top: 163px;
    right: 10px;
  }
  .wrapper .main-content .our-jobs .job2 .job-Navigation img {
    width: 20px;
  }
  .wrapper .main-content .our-jobs .job2 .job-description {
    margin: 10px 0;
  }
  .wrapper .main-content .our-jobs .job2 .job-description h5 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .wrapper .main-content .our-jobs .job2 .job-description p {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.2px;
  }
  .wrapper .main-content .our-jobs .job3 .job-title {
    top: 170px;
    right: 50px;
  }
  .wrapper .main-content .our-jobs .job3 .job-title h2 {
    font-size: 12px;
  }
  .wrapper .main-content .our-jobs .job3 .job-Navigation {
    top: 163px;
    right: 10px;
  }
  .wrapper .main-content .our-jobs .job3 .job-Navigation img {
    width: 20px;
  }
  .wrapper .main-content .our-jobs .job3 .job-description {
    margin: 10px 0;
  }
  .wrapper .main-content .our-jobs .job3 .job-description h5 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .wrapper .main-content .our-jobs .job3 .job-description p {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.2px;
  }
  .wrapper .main-content .our-jobs .job4 .job-title {
    top: 170px;
    right: 50px;
  }
  .wrapper .main-content .our-jobs .job4 .job-title h2 {
    font-size: 12px;
  }
  .wrapper .main-content .our-jobs .job4 .job-Navigation {
    top: 163px;
    right: 10px;
  }
  .wrapper .main-content .our-jobs .job4 .job-Navigation img {
    width: 20px;
  }
  .wrapper .main-content .our-jobs .job4 .job-description {
    margin: 10px 0;
  }
  .wrapper .main-content .our-jobs .job4 .job-description h5 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .wrapper .main-content .our-jobs .job4 .job-description p {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.2px;
  }
  .wrapper .Bottom-section {
    margin-top: 40px;
  }
  .wrapper .Bottom-section .image-pattern img {
    width: 45%;
  }
  .wrapper .Bottom-section .Bottom-text {
    top: 40px;
    max-width: 300px;
    min-height: 280px;
  }
  .wrapper .Bottom-section .Bottom-text .text-title {
    margin-top: 40px;
    margin-bottom: 25px;
  }
  .wrapper .Bottom-section .Bottom-text .text-title h2 {
    font-size: 23px;
  }
  .wrapper .Bottom-section .Bottom-text .text-title h2 span {
    font-size: 25px;
  }
  .wrapper .Bottom-section .Bottom-text .text-description p {
    font-size: 12px;
    line-height: 20px;
  }
  .wrapper .Bottom-content {
    min-height: 60vh;
  }
  .wrapper .Bottom-content .Bottom-text {
    width: 100%;
    margin: 0;
  }
  .wrapper .Bottom-content .Bottom-text .text-title h2 {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .wrapper .Bottom-content .Bottom-text .text-description .text {
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  .wrapper .Bottom-content .Bottom-text .text-description #text4 {
    margin-bottom: 130px;
  }
  .wrapper .Bottom-content .Bottom-logo {
    bottom: auto;
    right: auto;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 5px;
  }
  .wrapper .Bottom-content .Bottom-logo img {
    width: auto;
    max-width: 100%;
  }
  .wrapper .main-content .Overlay .Job1-overlay iframe {
    top: 40px;
  }
}
@media screen and (max-width: 767px) {
  .wrapper .Banner .box {
    display: none;
  }
  .wrapper .Heading-box {
    display: grid;
  }
  .wrapper .Banner .Banner-title {
    bottom: 15.5%;
  }
  .wrapper .Banner .Banner-title h1 {
    font-size: 20px;
  }
  .wrapper .main-content .content-wrapper .content {
    margin-top: 20px;
  }
  .wrapper .main-content .content-wrapper .content .content-heading h2 {
    font-size: 20px;
    margin-bottom: -10px;
  }
  .wrapper .main-content .content-wrapper .content-description #p1 {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .wrapper .main-content .content-wrapper .content-description #p2 {
    font-size: 14px;
  }
  .wrapper .main-content .our-jobs {
    grid-template-columns: repeat(2, 50%);
    grid-row-gap: 50px;
  }
  .wrapper .main-content .our-jobs .job1 .job-title {
    top: 300px;
    right: 100px;
  }
  .wrapper .main-content .our-jobs .job1 .job-title h2 {
    font-size: 20px;
  }
  .wrapper .main-content .our-jobs .job1 .job-Navigation {
    top: -28px;
    bottom: auto;
    right: 25px;
  }
  .wrapper .main-content .our-jobs .job1 .job-Navigation img {
    width: 30px;
  }
  .wrapper .main-content .our-jobs .job1 .job-description {
    margin: 20px 0;
  }
  .wrapper .main-content .our-jobs .job1 .job-description h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .wrapper .main-content .our-jobs .job1 .job-description p {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.2px;
  }
  .wrapper .main-content .our-jobs .job2 .job-title {
    top: 300px;
    right: 100px;
  }
  .wrapper .main-content .our-jobs .job2 .job-title h2 {
    font-size: 20px;
  }
  .wrapper .main-content .our-jobs .job2 .job-Navigation {
    top: -28px;
    bottom: auto;
    right: 25px;
  }
  .wrapper .main-content .our-jobs .job2 .job-Navigation img {
    width: 30px;
  }
  .wrapper .main-content .our-jobs .job2 .job-description {
    margin: 20px 0;
  }
  .wrapper .main-content .our-jobs .job2 .job-description h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .wrapper .main-content .our-jobs .job2 .job-description p {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.2px;
  }
  .wrapper .main-content .our-jobs .job3 .job-title {
    top: 300px;
    right: 100px;
  }
  .wrapper .main-content .our-jobs .job3 .job-title h2 {
    font-size: 20px;
  }
  .wrapper .main-content .our-jobs .job3 .job-Navigation {
    top: -28px;
    bottom: auto;
    right: 25px;
  }
  .wrapper .main-content .our-jobs .job3 .job-Navigation img {
    width: 30px;
  }
  .wrapper .main-content .our-jobs .job3 .job-description {
    margin: 20px 0;
  }
  .wrapper .main-content .our-jobs .job3 .job-description h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .wrapper .main-content .our-jobs .job3 .job-description p {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.2px;
  }
  .wrapper .main-content .our-jobs .job4 .job-title {
    top: -28px;
    bottom: auto;
    right: 100px;
  }
  .wrapper .main-content .our-jobs .job4 .job-title h2 {
    font-size: 20px;
  }
  .wrapper .main-content .our-jobs .job4 .job-Navigation {
    top: -28px;
    bottom: auto;
    right: 25px;
  }
  .wrapper .main-content .our-jobs .job4 .job-Navigation img {
    width: 30px;
  }
  .wrapper .main-content .our-jobs .job4 .job-description {
    margin: 20px 0;
  }
  .wrapper .main-content .our-jobs .job4 .job-description h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .wrapper .main-content .our-jobs .job4 .job-description p {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.2px;
  }
  .wrapper .Bottom-section .Bottom-text {
    display: none;
  }
  .wrapper .Bottom-section {
    margin: 0;
  }
  .wrapper .Bottom {
    display: block;
  }
  .wrapper .Bottom-section .image-pattern {
    top: -27px;
    left: 0;
  }
  .wrapper .Bottom-section .image-pattern img {
    width: 100%;
  }
  .wrapper .Bottom-content {
    min-height: 100vh;
  }
  .wrapper .Bottom-content .Bottom-text {
    margin: 0;
  }
  .wrapper .Bottom-content .Bottom-text .text-title h2 {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .wrapper .Bottom-content .Bottom-text .text-description .text {
    font-size: 14px;
  }
  .wrapper .Bottom-content .Bottom-text .text-description #text4 {
    margin-bottom: 130px;
  }
  .wrapper .Bottom-content .Bottom-logo {
    bottom: auto;
    left: 0;
  }
  .wrapper .Bottom-content .Bottom-logo img {
    width: auto;
    max-width: 100%;
  }
  .wrapper .main-content .Overlay .Job1-overlay iframe {
    width: 100%;
    min-height: 100%;
    max-height: 90vh;
    top: 0;
  }
  .wrapper .main-content .our-jobs .job1 .image-text .job-title h2,
  .wrapper .main-content .our-jobs .job2 .image-text .job-title h2,
  .wrapper .main-content .our-jobs .job3 .image-text .job-title h2,
  .wrapper .main-content .our-jobs .job4 .image-text .job-title h2 {
    font-size: 16px;
  }
  .wrapper .main-content .our-jobs .job1 .image-text .job-Navigation,
  .wrapper .main-content .our-jobs .job2 .image-text .job-Navigation,
  .wrapper .main-content .our-jobs .job3 .image-text .job-Navigation,
  .wrapper .main-content .our-jobs .job4 .image-text .job-Navigation {
    right: -40px;
    bottom: auto;
    top: -26px;
  }
}

@media screen and (max-width: 480px) {
  .wrapper .Banner .Banner-navigation {
    right: 30px;
    bottom: 30px;
    width: 38px;
  }
  .wrapper .Banner .Banner-navigation img {
    width: 100%;
  }
  .wrapper .Banner .Banner-title {
    right: 90px;
    bottom: 35px;
  }
  .wrapper .Banner .Banner-title h1 {
    font-size: 18px;
  }
  .wrapper .main-content .content-wrapper .content .content-heading h2 {
    font-size: 18px;
  }
  .wrapper .main-content .content-wrapper .content-description #p1 {
    font-size: 12px;
    line-height: 22px;
  }
  .wrapper .main-content .content-wrapper .content-description #p2 {
    font-size: 12px;
    line-height: 22px;
  }
  .wrapper .main-content .our-jobs {
    grid-template-columns: 100%;
    grid-row-gap: 20px;
  }
  .wrapper .main-content .our-jobs .job1 .job-title {
    top: 390px;
  }
  .wrapper .main-content .our-jobs .job1 .job-title h2 {
    font-size: 18px;
  }
  .wrapper .main-content .our-jobs .job1 .job-Navigation {
    top: 380px;
  }
  .wrapper .main-content .our-jobs .job1 .job-description h5 {
    font-size: 18px;
  }
  .wrapper .main-content .our-jobs .job1 .job-description p {
    font-size: 12px;
    line-height: 22px;
  }
  .wrapper .main-content .our-jobs .job2 .job-title {
    top: 390px;
  }
  .wrapper .main-content .our-jobs .job2 .job-title h2 {
    font-size: 18px;
  }
  .wrapper .main-content .our-jobs .job2 .job-Navigation {
    top: 380px;
  }
  .wrapper .main-content .our-jobs .job2 .job-description h5 {
    font-size: 18px;
  }
  .wrapper .main-content .our-jobs .job2 .job-description p {
    font-size: 12px;
    line-height: 22px;
  }
  .wrapper .main-content .our-jobs .job3 .job-title {
    top: 390px;
  }
  .wrapper .main-content .our-jobs .job3 .job-title h2 {
    font-size: 18px;
  }
  .wrapper .main-content .our-jobs .job3 .job-Navigation {
    top: 380px;
  }
  .wrapper .main-content .our-jobs .job3 .job-description h5 {
    font-size: 18px;
  }
  .wrapper .main-content .our-jobs .job3 .job-description p {
    font-size: 12px;
    line-height: 22px;
  }
  .wrapper .main-content .our-jobs .job4 .job-title {
    top: 390px;
  }
  .wrapper .main-content .our-jobs .job4 .job-title h2 {
    font-size: 18px;
  }
  .wrapper .main-content .our-jobs .job4 .job-Navigation {
    top: 380px;
  }
  .wrapper .main-content .our-jobs .job4 .job-description h5 {
    font-size: 18px;
  }
  .wrapper .main-content .our-jobs .job4 .job-description p {
    font-size: 12px;
    line-height: 22px;
  }
  .wrapper .Bottom {
    min-height: 30vh;
  }
  .wrapper .Bottom .Bottom-text .text-title h2 {
    font-size: 18px;
  }
  .wrapper .Bottom .Bottom-text .text-description p {
    font-size: 13px;
    line-height: 23px;
  }
  .wrapper .Bottom-section .image-pattern {
    top: -14px;
  }
  .wrapper .Bottom-content .Bottom-text .text-title h2 {
    font-size: 18px;
  }
  .wrapper .Bottom-content .Bottom-text .text-description .text {
    font-size: 13px;
    line-height: 23px;
  }
  .wrapper .Bottom-content .Bottom-logo {
    left: auto;
    bottom: 20px;
    width: 100%;
  }
  .wrapper .Bottom-content .Bottom-logo img {
    max-width: 100%;
  }
  .wrapper .main-content .Overlay .Job1-overlay iframe {
    top: 30px;
  }
}
