.wrapper .Banner {
  position: relative;
}
.wrapper .Banner .Banner-title {
  position: absolute;
  bottom: 40px;
  right: 150px;
}
.wrapper .Banner .Banner-title h1 {
  color: #fff;
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.wrapper .Banner img {
  max-width: 100%;
  width: 100%;
}
.wrapper .Banner .box {
  position: absolute;
  background: #d3d5c5;
  min-height: 750px;
  max-width: 550px;
  width: 100%;
  top: 0;
  left: 40px;
  padding: 20px 50px;
}
.wrapper .Banner .box .box-logo img {
  max-width: 100%;
  width: 50%;
  position: absolute;
  top: 50px;
}
.wrapper .Banner .box .box-text {
  position: absolute;
  bottom: 200px;
}
.wrapper .Banner .box .box-text h5 {
  color: #fff;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.wrapper .Banner .box .box-text h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.wrapper .Banner .box .box-paragraph {
  position: absolute;
  bottom: 75px;
  padding-right: 50px;
}
.wrapper .Banner .box .box-paragraph p {
  color: #5e7157;
  font-size: 17px;
  font-weight: 300;
}
.wrapper .main-content {
  max-width: 1200px;
}
.wrapper .main-content .content-wrapper {
  margin: 0 10px;
}
.wrapper .main-content .content-wrapper .content {
  margin-top: 100px;
  width: 600px;
}
.wrapper .main-content .content-wrapper .content .content-heading {
  margin: 30px 0;
}
.wrapper .main-content .content-wrapper .content .content-heading h1 {
  font-size: 40px;
  color: #5e7157;
  text-transform: uppercase;
  font-weight: 100;
}
.wrapper .main-content .content-wrapper .content-description #p1 {
  font-size: 17px;
  color: #5e7157;
  font-weight: 100;
  letter-spacing: 0.5px;
  line-height: 28px;
}
.wrapper .main-content .content-wrapper .content-description #p2 {
  font-size: 17px;
  color: #5e7157;
  font-weight: 100;
  letter-spacing: 0.5px;
  line-height: 28px;
}
.wrapper .main-content .our-jobs {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 0;
  align-items: center;
  margin-top: 60px;
}
.wrapper .main-content .our-jobs .job1 {
  margin: 0 10px;
  position: relative;
}
.wrapper .main-content .our-jobs .job1 .job-image img {
  max-width: 100%;
  width: 100%;
}
.wrapper .main-content .our-jobs .job1 .job-title {
  position: absolute;
  top: 280px;
  right: 90px;
}
.wrapper .main-content .our-jobs .job1 .job-title h2 {
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.wrapper .main-content .our-jobs .job1 .job-description {
  margin: 28px 0;
}
.wrapper .main-content .our-jobs .job1 .job-description h5 {
  font-size: 19px;
  font-weight: bold;
  color: #5e7157;
  letter-spacing: 1px;
}
.wrapper .main-content .our-jobs .job1 .job-description p {
  color: #5e7157;
  line-height: 25px;
  font-size: 17px;
  font-weight: 100;
}
.wrapper .main-content .our-jobs .job2 {
  margin: 0 10px;
  position: relative;
}
.wrapper .main-content .our-jobs .job2 .job-image img {
  max-width: 100%;
  width: 100%;
}
.wrapper .main-content .our-jobs .job2 .job-title {
  position: absolute;
  top: 280px;
  right: 90px;
}
.wrapper .main-content .our-jobs .job2 .job-title h2 {
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.wrapper .main-content .our-jobs .job2 .job-description {
  margin: 28px 0;
}
.wrapper .main-content .our-jobs .job2 .job-description h5 {
  font-size: 19px;
  font-weight: bold;
  color: #5e7157;
  letter-spacing: 1px;
}
.wrapper .main-content .our-jobs .job2 .job-description p {
  color: #5e7157;
  line-height: 25px;
  font-size: 17px;
  font-weight: 100;
}
.wrapper .main-content .our-jobs .job3 {
  margin: 0 10px;
  position: relative;
}
.wrapper .main-content .our-jobs .job3 .job-image img {
  max-width: 100%;
  width: 100%;
}
.wrapper .main-content .our-jobs .job3 .job-title {
  position: absolute;
  top: 280px;
  right: 90px;
}
.wrapper .main-content .our-jobs .job3 .job-title h2 {
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.wrapper .main-content .our-jobs .job3 .job-description {
  margin: 28px 0;
}
.wrapper .main-content .our-jobs .job3 .job-description h5 {
  font-size: 19px;
  font-weight: bold;
  color: #5e7157;
  letter-spacing: 1px;
}
.wrapper .main-content .our-jobs .job3 .job-description p {
  color: #5e7157;
  line-height: 25px;
  font-size: 17px;
  font-weight: 100;
}
.wrapper .main-content .our-jobs .job4 {
  margin: 0 10px;
  position: relative;
}
.wrapper .main-content .our-jobs .job4 .job-image img {
  max-width: 100%;
  width: 100%;
}
.wrapper .main-content .our-jobs .job4 .job-title {
  position: absolute;
  top: 280px;
  right: 90px;
}
.wrapper .main-content .our-jobs .job4 .job-title h2 {
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.wrapper .main-content .our-jobs .job4 .job-description {
  margin: 28px 0;
}
.wrapper .main-content .our-jobs .job4 .job-description h5 {
  font-size: 19px;
  font-weight: bold;
  color: #5e7157;
  letter-spacing: 1px;
}
.wrapper .main-content .our-jobs .job4 .job-description p {
  color: #5e7157;
  line-height: 25px;
  font-size: 17px;
  font-weight: 100;
}
.wrapper .Bottom-section {
  position: relative;
  margin-top: 100px;
}
.wrapper .Bottom-section .Bottom-image img {
  max-width: 100%;
  width: 100%;
}
.wrapper .Bottom-section .Bottom-text {
  position: absolute;
  top: 100px;
  right: 10%;
  background: #d3d5c5;
  max-width: 500px;
  min-height: 480px;
  padding: 10px;
  padding: 0 60px;
}
.wrapper .Bottom-section .Bottom-text .text-title {
  margin-top: 100px;
  margin-bottom: 60px;
}
.wrapper .Bottom-section .Bottom-text .text-title h1 {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.wrapper .Bottom-section .Bottom-text .text-description p {
  color: #5e7157;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 27px;
  font-weight: 100;
}
.wrapper .Bottom-section .image-pattern {
  position: absolute;
  bottom: -100px;
  left: -260px;
  z-index: 999;
}
.wrapper .Bottom-section .image-pattern img {
  max-width: 100%;
  width: 90%;
}
.wrapper .Bottom-content {
  background-color: #d3d5c5;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.wrapper .Bottom-content .Bottom-text {
  position: absolute;
  width: 650px;
  padding: 20px;
  top: 150px;
  left: 160px;
}
.wrapper .Bottom-content .Bottom-text .text-title {
  margin-bottom: 30px;
}
.wrapper .Bottom-content .Bottom-text .text-title h2 {
  font-weight: 100;
  color: #fff;
  font-size: 50px;
  letter-spacing: 1px;
}
.wrapper .Bottom-content .Bottom-text .text-title h2 span {
  font-weight: 700;
}
.wrapper .Bottom-content .Bottom-text .text-description #text1,
.wrapper .Bottom-content .Bottom-text .text-description #text2,
.wrapper .Bottom-content .Bottom-text .text-description #text3,
.wrapper .Bottom-content .Bottom-text .text-description #text4 {
  color: #5e7157;
  font-size: 17px;
  font-weight: 200;
  line-height: 24px;
}
.wrapper .Bottom-content .Bottom-logo {
  position: absolute;
  right: 130px;
  bottom: 80px;
}
.wrapper .Bottom-content .Bottom-logo img {
  max-width: 100%;
  width: 100%;
}
.wrapper .footer {
  margin: 50px 0;
  position: relative;
  max-width: 100%;
  width: 100%;
}
.wrapper .footer .footer-image {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
.wrapper .footer .footer-image img {
  max-width: 100%;
  width: 100%;
}
